

body{
  padding: 4px;
}

.divMetroUI{
  cursor: pointer !important;
}

/*******************************************/
.list-group-item{
  cursor: pointer !important;
}

.btn{
  border-radius: 0px !important;
}

.form-control{
  border-radius: 0px !important;  
}

.list-group{
  border-radius: 0px !important;    
}

.panel{
  border-radius: 0px !important;    

}
.panel-heading {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
/**********************************************/